<div class="container">
  <div *ngIf="tela == 'inicial'">
    <form #forminicial="ngForm">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome" required>
      </div>
      <button class="btn btn-primary" (click)="inicialAvancar()" [disabled]="!forminicial.form.valid">Avançar</button>
    </form>
  </div>
  <div *ngIf="tela == 'jogo'">
    <form #formjogo="ngForm">
      <div class="form-group">
        <label for="casa">Casa</label>
        <select class="form-control" name="casa" id="casa" [(ngModel)]="casa" required>
          <option *ngFor="let c of service.listaDeCasas()">{{c.nome}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="personagem">Personagem</label>
        <select class="form-control" name="personagem" id="personagem" [(ngModel)]="personagem" required>
          <option *ngFor="let p of service.listaDePersonagens()">{{p}}</option>
        </select>
      </div>
      <button class="btn btn-primary" (click)="jogoAvancar()" [disabled]="!formjogo.form.valid">Avançar</button>
    </form>
  </div>
  <div *ngIf="tela == 'resultado'">
    <h4>
      {{nome}}
    </h4>
    <div>Quantidade de acertos: {{service.quantidadeDeAcertos(nome)}}</div>
    <div>Quantidade de erros: {{3-service.quantidadeDeAcertos(nome)}}</div>
    <button class="btn btn-primary" (click)="reiniciar()">Reiniciar</button>
  </div>
</div>